.input-film{
    margin-top: 20px;
    border:solid 2.0px white;
    text-align:center;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 60px;
    border-radius: 40px;
}


.input-error{
    margin-top: 20px;
    border:solid 2.0px red;
    text-align:center;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 60px;
    border-radius: 40px;
}



.select{
    border:solid 2.0px white;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 40px;
}

.text-area{
    border:solid 2.0px white;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 20px;
}


.select-error{
    border:solid 2.0px red;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 40px;
}

.text-area-error{
    border:solid 2.0px red;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 20px;
}

.btn-send{
    margin-top: 20px;
}
